<!doctype html>
<html lang="en">
<%- include("./partials/head.ejs") %>
<body>
<div class="container">
    <h1 id="welcome-message"></h1>
    <a class="link" href="/">Log out</a>
</div>
<script>

    const username = localStorage.getItem("username") || "Гость";
    document.getElementById("welcome-message").innerText = `Welcome, ${username}!`;


</script>
</body>
</html>